<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lx.drawer">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDrawer"
        tools:targetApi="31">
        <activity
            android:name=".GimcheonBoardActivity"
            android:exported="false" />
        <activity
            android:name=".GangneungBoardActivity"
            android:exported="false" />
        <activity
            android:name=".SeoulBoardActivity"
            android:exported="false" />
        <activity
            android:name=".GangneungActivity"
            android:exported="false" />
        <activity
            android:name=".GimcheonActivity"
            android:exported="false" />
        <activity
            android:name=".SeoulActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyDrawer.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>